* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background: rgb(126, 124, 124);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  /* overflow: hidden; */
}

header{
  background-color: rgb(22, 22, 22);
  display: flex;
}

header a{
  padding: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
header a:hover{
  background-color: rgba(228, 78, 32, 0.822);
  color: white;
}
header .container{
  padding: 1rem 2rem;
}
header .container span:hover{
  background-color: rgba(228, 78, 32, 0.822);
  color: white;
}

header .pesquisa{
  display: flex;
  align-self: center;
  margin-right: 10px;
  position: absolute;
  right: 0;
}
header .pesquisa label{
  color: white;
}

header .pesquisa input[type=text], header .pesquisa select{

  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 1% 0%;
}
section .cadastro{
  background-color: #f2f2f2;
  border: 4px solid black;
  padding: 2%;
  border-radius: 18px;
  box-shadow: 8px 5px 25px #c5c5c5;
  width: 500px;
  margin-left: calc(50% - 250px);
  margin-top: 70px;
  margin-bottom: 70px;
}

section .cadastro input[type=text], section .cadastro input[type=number]{
  width: 100%;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 2% 3%;
  margin: 1% 0% 3% 0%;
}
section .cadastro button[type=submit]{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 2% 3%;
}
section .guarda{
  margin: 3rem;
}

section .guarda .organiza .item .detal{
  margin: 3rem;
}

section .guarda .organiza .item{
  align-self: stretch;
}

img {
  object-fit: fill;
  border-radius: 50%;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

section .detal:hover{ 
margin: 0 40px;
transform: scale(1.2);
}

#cadastroFilme {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: #808080d9;
  top: 0;
}

#fecharCadastroFilme {
  margin-top: -35px;
  margin-left: calc(100% + 4px);
  background-color: red;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.container span {
  color: #fff;
  cursor: pointer;
  padding: 16px;
}